@model ProjectManagementDomain.Models.UserLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Management | Log in</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">    
    <link rel="stylesheet" href="~/WebCore/plugins/fontawesome-free/css/all.min.css">    
    @* <link rel="stylesheet" href="~/WebCore/plugins/icheck-bootstrap/icheck-bootstrap.min.css">     *@
    <link rel="stylesheet" href="~/WebCore/dist/css/adminlte.min.css">        
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <img src="~/dist/img/project-management.png" class="brand-image img-circle elevation-3">
        <div class="login-logo">            
            <p><b>Project </b>Management</p>
        </div>        
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>                
                <form asp-action="Login" asp-id="SignIn" id="SignIn">
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row">                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>                        
                    </div>
                </form>                   
            </div>
            
        </div>
        <div class="developer-title">
            <p>Developer by Johans Cuéllar</p>
        </div>
    </div>        
</body>
</html>

@if (ViewBag.Message != null)
{
    <script>toastr.error('@ViewBag.Message')</script>
}
