    @{    
        Layout = "_LayoutNew";
    }


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }


<section class="content container-fluid">

    <div class="dashboard-title">
        <p>Project Management System</p>
    </div>

</section>